<h2>Procesador</h2>

<!--  -->

<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>CPU</th>
			<th>Memoria</th>
			<th>Tiempo</th>
			<th>Estado</th>
			<th>nlwp</th>
			<th>pri</th>
			<th>Procesador</th>
			<th>vsize</th>
			<th>Comando</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.procesos">
			<td>{{ item.id }}</td>
			<td>{{ item.cpu }}</td>
			<td>{{ item.pmem }}</td>
			<td>{{ item.time }}</td>
			<td>{{ item.stat }}</td>
			<td>{{ item.nlwp }}</td>
			<td>{{ item.pri }}</td>
			<td>{{ item.psr }}</td>
			<td>{{ item.vsize }}</td>
			<td>{{ item.command }}</td>
			<td><a ng-click="mv.finalizar(item)" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
		</tr>
	</tbody>
</table>